services/mail-service/src/main/webapp/WEB-INF/wsdl/mailService.wsdl

<definitions
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://mail.javaops.ru/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://mail.javaops.ru/" name="MailServiceImplService">
  <types>
    <xs:schema targetNamespace="http://mail.javaops.ru/">

      <xs:element name="sendBulk" type="tns:sendBulk"/>
      <xs:element name="sendBulkResponse" type="tns:sendBulkResponse"/>
      <xs:element name="sendToGroup" type="tns:sendToGroup"/>
      <xs:element name="sendToGroupResponse" type="tns:sendToGroupResponse"/>

      <xs:complexType name="sendBulk">
        <xs:sequence>
          <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subject" type="xs:string" minOccurs="0"/>
          <xs:element name="body" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sendBulkResponse">
        <xs:sequence>
          <xs:element name="result" type="tns:groupResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sendToGroup">
        <xs:sequence>
          <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="subject" type="xs:string" minOccurs="0"/>
          <xs:element name="body" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="sendToGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addressee">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute type="xs:string" name="email"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <xs:complexType name="groupResult">
        <xs:sequence>
          <xs:element name="mail" type="tns:mail" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="success" use="required"/>
        <xs:attribute type="xs:string" name="rootCause"/>
      </xs:complexType>

      <xs:complexType name="mail">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute type="tns:emailAddressType" name="email"/>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>

      <!--http://stackoverflow.com/a/2147904/548473    -->
      <xs:simpleType name="emailAddressType">
        <xs:restriction base="xs:string">
          <xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>

  <message name="sendToGroup">
    <part name="parameters" element="tns:sendToGroup"/>
  </message>
  <message name="sendToGroupResponse">
    <part name="parameters" element="tns:sendToGroupResponse"/>
  </message>
  <message name="sendBulk">
    <part name="parameters" element="tns:sendBulk"/>
  </message>
  <message name="sendBulkResponse">
    <part name="parameters" element="tns:sendBulkResponse"/>
  </message>

  <portType name="MailService">
    <operation name="sendToGroup">
      <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest"
        message="tns:sendToGroup"/>
      <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse"
        message="tns:sendToGroupResponse"/>
    </operation>
    <operation name="sendBulk">
      <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest"
        message="tns:sendBulk"/>
      <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse"
        message="tns:sendBulkResponse"/>
    </operation>
  </portType>

  <binding name="MailServiceImplPortBinding" type="tns:MailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sendToGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendBulk">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MailServiceImplService">
    <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
      <soap:address location="http://localhost:8081/mail/mailService"/>
    </port>
  </service>
</definitions>